</main>
<div class="footer text-center shadow-sm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <p>Telphone Number: +45 42158188</p>
            </div>
            <div class="col-4">
                <p>Email: <a href="/contact">c.m.bartholo@gmail.com</a> </p>
            </div>
            <div class="col-4">
                <p id="copyright-year"></p>
            </div>
        </div>
    </div>
</div>
<script src="./components/footer/footer.js"></script>
</body>

</html>